<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- log file config -->
    <property name="LOG_PATTERN" value="%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n"/>
    <property name="ROLLING_FILE_NAME_PATTERN" value="${LOG_FILE}.%d{yyyy-MM-dd}_%i.log" />

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
            <fileNamePattern>${LOG_PATH}/archived/${ROLLING_FILE_NAME_PATTERN}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> <!-- 파일당 최고 용량 kb, mb, gb -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy> <!-- 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap> <!-- 아카이브 총 용량이 3GB를 넘어가면 오래된 파일을 비동기적으로 삭제, 먼저 maxHistory설정이 있어야 사용 가능 -->
        </rollingPolicy>
    </appender>

    <!-- local -->
    <springProfile name="default, local">
        <logger name="com.example.demo" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILEOUT" />
        </logger>

        <logger name="org.springframework.web" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILEOUT" />
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILEOUT" />
        </root>
    </springProfile>

</configuration>

